* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
  min-height: 20px;
}

.flex {
  display: flex;
}


/* Button */
.small-btn {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.big-btn {
  margin: 10px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: white;
}

.logo,
.small-btn,
.big-btn,
.fa-brands:hover{
  cursor: pointer;
}


.login {
  background-color: white;
}

.login:hover{
  color: #255EE9;
}

.register {
  background-color: #5865F2;
  color: white;
}

.register:hover {
  background-color: #787fce;
}


.big-column {
  width: 65%;
}

.small-column {
  width: 35%;
  margin: 25px auto;
}

.bg-gray {
  background-color: #F5F5F5;
  
  
}
.container {
  margin: 0 auto;
  width: 75%;
  max-width: 1200px;
  min-width: 900px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  color: #7289DA;
}

/* Header */


header .top-bar {
  background-color: #255EE9;
  height: 80px;
  width: 100%;
  position: fixed;
}

header .top-bar .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  padding: 0 15px;
}

.nav-menu a{
  text-decoration: none;
  color: white;
}

#jumbotron{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

#jumbotron h1{
  padding: 30px;
}

#jumbotron .content{
  text-align: center;
  width: 90%;
  max-width: 730px;
  font-size: 1rem;
  color: white;
}

/* Main */
section,
footer {
  padding: 40px 0;
  font-size: 1.5rem;
}

.big-column img {
  height: 100%;
}

.small-column p{
  font-size: 1.1rem;
}

section:last-child .container {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.big-btn:nth-child(2) {
  background-color: #23272A;
  color: white;
}

.big-btn:nth-child(2):hover {
  background-color: #3d3e3f;
  color: white;
}

section:last-child .big-btn {
  background-color:#5865F2;
  color: white;
}

section:last-child .big-btn:hover {
  background-color:#8089ee;
  color: white;
}

/* Footer */

footer {
  height: 600px;
  background-color: #23272A;
  color: white;
}

.upper-footer {
  padding-top: 2px;
  border-bottom: 1px solid #4F5D8C;
}

.upper-footer .social {
  width: 25%;
}

.upper-footer .menu {
  width: 75%;
  font-size: .8rem;
}

.upper-footer .menu .col {
  flex-basis: 25%;
}

.upper-footer .menu li {
  list-style: none;
  margin-bottom: 10px;
}

.upper-footer .menu h3 {
  margin-bottom: 15px;
}

.upper-footer .menu a {
  text-decoration: none;
  color: white; 
}
.upper-footer span{
  font-size: 1rem;
}

.lower-footer {
  padding: 10px 0;
  justify-content: space-between;
}

/* Social icons */
.flag img{
  width: 20px;
}

.fa-brands {
  font-size: 1.1rem;
  padding: 10px;
}