* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
  min-height: 20px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.sa {
  justify-content: space-around;
}

.cc {
  justify-content: center;
}

.sb {
  justify-content: space-between;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.login {
  background-color: white;
}

.register {
  background-color: #7289DA;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  min-width: 700px;
}

body {
  color: white;
}

/* Header */
header{
  background-color: #ADD8E6;
}

header .top-bar {
  background-color: #255EE9;
  height: 80px;
}

header .top-bar .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  padding: 0 15px;
}

.nav-menu a{
  text-decoration: none;
  color: white;
}

/* Main */

.introduction {
  margin: 20px auto;
  width: 700px;
  height: 200px;
}

.container .image {
  width: 750px;
  height: 320px;
}

.container .text {
  width: 500px;
  height: 320px;
}


main section:nth-of-type(1){
  background-color: #00008B;
}
main section:nth-of-type(2n + 3){
  background-color: #D3D3D3;
}



/* Footer */

footer {
  background-color: #23272A;
}



.container div:nth-child(1){
  flex-grow: 3;
}
.container div:nth-of-type(1n + 2){
  flex-grow: 1;
}

.upper-footer {
  padding-top: 2px;
  border-bottom: 1px solid white;
}